/*********************** CSS UTILI ***********************/

img {
    height: 300px;
    object-fit: cover;
}

/* .none {
    display: none;
} */

.block {
    display: block;
}

.text {
    position: absolute;
    top: 11rem;
    padding: 0.5rem;
    text-align: end;
}